@import "tailwindcss";

:root {
  --background: #ffffff;
}


@theme {
  --color-primary: #0A2A4A;
  --color-secondary: #00629B;
  --color-gold: #FFC72C;
  --color-lightbg: #F5F7FA;
  --color-card: #E1E5EA;
  --color-darktxt: #333333;


}



