@import "tailwindcss";

:root {
  --background: #ffffff;
}


@theme {
  --color-primary: #0A2A4A;
  --color-secondary: #00629B;
  --color-gold: #FFC72C;
  --color-lightbg: #F5F7FA;
  --color-card: #E1E5EA;
  --color-darktxt: #333333;


}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlideLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

